<!DOCTYPE html>
<html lang="en">
<head>
  <title>Ring of fire</title>
  <link rel="stylesheet" href="{{ url_for('static', filename = 'bootstrap-4.5.3-dist/css/bootstrap.css')}}">

</head>
<body>
  <h1>{{name}}</h1>
  <div id="list">
    <ul>
      {% for link in links %}
      <li>{{link}}</li>
      {% endfor %}
    </ul>  
  </div>
  <div id="swapButton">
    <form method="post" action="">
      <input type="hidden" name="light" id="light_on" value="on">
      <button type="submit" >Switch on</button>
    </form>
    <form method="post" action="">
      <input type="hidden" name="light" id="light_off" value="off">
      <button type="submit" >Switch off</button>
    </form>

  </div>

    
<script type = "text/javascript" 
        src = "{{ url_for('static', filename = 'jquery/jquery-3.5.1.min.js') }}" >
</script>
</body>
</html>
